.container #newlogo1 img {
				left:920px;
	
}
.container #newlogo2 img  {
	left:1030px;
}
.container .newlogo img {
	position: absolute;
	top: 12px;
	z-index: 2;
}
	
.main-header .fourteen {
	height: 86px;
	
}
#caption-text-wrap .header, #caption-text-wrap .text {
	background: url(images/bg_for_ie.png);
}
#menu-header-menu {
	margin-top:25px;
	color:#fff;
}

.main-header #newlogo1 img {
	left:940px;
	
}
.main-header #newlogo2 img  {
	left:1050px;
}
.main-header .newlogo img {
	position: absolute;
	top: 12px;
	z-index: 2;
}

.nav_fixed{
	background: #12589e;
	height:50px;
	padding-bottom:5px;
	box-shadow:0px 6px 25px #12589e;
}

.sub-menu .flag {
	height: 10px;
	width: 12px;
	padding-right: 10px;
}

.ch{ 
	
	border:1px sold #fff;
	margin-left: 80px;
	height:58px;
}

.sub-menu li{
	vertical-align: middle;
}
.sub-menu .li_affect:hover{
	background-color:#6ca2d8;
	color:#ffffff;
	vertical-align: middle;
}

.country{
	background-color:#12589e; 
	height:36px;
	width:330px;
	margin:0px;
	z-index:10;
}
.nav_c{
	display:none;
}

.foot_nav .foot_nav_li{ float:left; height:120px; margin:20px 10px 20px; border-left:1px #fff solid; padding:0 15px 0; }	
.foot_nav .foot_nav_li a{ color:#fff; }	
.foot_nav .foot_nav_li span{ font-size:17px;}	
.foot_nav .foot_nav_li ul{margin:20px 0 20px;}